## Iterate over Rows and Columns

* Author: Owen Chen
* Date: 4/17/2022

In general, avoid iterate over rows or columns.  Use apply() and map() on a Panda series or applymap() on multiple columns and rows.

Iterate over rows or columns as the last resolve. 

- Iterate over rows of a DataFrame by index labels
- Iterate over rows of a DataFrame by index Positions
- Iterate over columns of DataFrame using Column Names
- Iterate over columns of DataFrame by column numbers

* References:
https://thispointer.com/pandas-tutorial-part-13-iterate-over-rows-columns-of-dataframe/

In [1]:
import pandas as pd

In [3]:
# List of Tuples
empoyees = [(11, 'jack', 34, 'Sydney', 5) ,
            (12, 'Riti', 31, 'Delhi' , 7) ,
            (13, 'Aadi', 16, 'New York', 11) ,
            (14, 'Mohit', 32,'Delhi' , 15) ,
            (15, 'Veena', 33, 'Delhi' , 4) ,
            (16, 'Shaunak', 35, 'Mumbai', 5 ),
            (17, 'Shaun', 35, 'Colombo', 11)]
# Create a DataFrame object
df = pd.DataFrame(  empoyees,
                    columns=['ID', 'Name', 'Age', 'City', 'Experience'],
                    index=['a', 'b', 'c', 'd', 'e', 'f', 'h'])
# Display the DataFrame
df

   ID     Name  Age      City  Experience
a  11     jack   34    Sydney           5
b  12     Riti   31     Delhi           7
c  13     Aadi   16  New York          11
d  14    Mohit   32     Delhi          15
e  15    Veena   33     Delhi           4
f  16  Shaunak   35    Mumbai           5
h  17    Shaun   35   Colombo          11

## Iterate over rows of a DataFrame by index labels
* df.iterrows()

In [4]:
# Iterate over rows of DataFrame by Index Labels
for (index_label, row_series) in df.iterrows():
    print('Row Index label : ', index_label)
    print('Row Content as NumPy Array: ', row_series.values)

Row Index label :  a
Row Content as NumPy Array:  [11 'jack' 34 'Sydney' 5]
Row Index label :  b
Row Content as NumPy Array:  [12 'Riti' 31 'Delhi' 7]
Row Index label :  c
Row Content as NumPy Array:  [13 'Aadi' 16 'New York' 11]
Row Index label :  d
Row Content as NumPy Array:  [14 'Mohit' 32 'Delhi' 15]
Row Index label :  e
Row Content as NumPy Array:  [15 'Veena' 33 'Delhi' 4]
Row Index label :  f
Row Content as NumPy Array:  [16 'Shaunak' 35 'Mumbai' 5]
Row Index label :  h
Row Content as NumPy Array:  [17 'Shaun' 35 'Colombo' 11]

## Iterate over rows of a DataFrame by index Positions

In [8]:
# Iterate over rows of DataFrame by index positions
for i in range(0, df.shape[0]):
    print('Row Index Position : ', i)
    print('Row content as a pandas series:')
    print(df.iloc[i])
    # Get row contents as NumPy Array from Series
    rowContent = df.iloc[i].values
    print('Row Content as NumPy Array: ', rowContent)
    print("-"*20)

Row Index Position :  0
Row content as a pandas series:
ID                11
Name            jack
Age               34
City          Sydney
Experience         5
Name: a, dtype: object
Row Content as NumPy Array:  [11 'jack' 34 'Sydney' 5]
--------------------
Row Index Position :  1
Row content as a pandas series:
ID               12
Name           Riti
Age              31
City          Delhi
Experience        7
Name: b, dtype: object
Row Content as NumPy Array:  [12 'Riti' 31 'Delhi' 7]
--------------------
Row Index Position :  2
Row content as a pandas series:
ID                  13
Name              Aadi
Age                 16
City          New York
Experience          11
Name: c, dtype: object
Row Content as NumPy Array:  [13 'Aadi' 16 'New York' 11]
--------------------
Row Index Position :  3
Row content as a pandas series:
ID               14
Name          Mohit
Age              32
City          Delhi
Experience       15
Name: d, dtype: object
Row Content as NumPy Array:  [14 'Mohit' 32 'Delhi' 15]
--------------------
Row Index Position :  4
Row content as a pandas series:
ID               15
Name          Veena
Age              33
City          Delhi
Experience        4
Name: e, dtype: object
Row Content as NumPy Array:  [15 'Veena' 33 'Delhi' 4]
--------------------
Row Index Position :  5
Row content as a pandas series:
ID                 16
Name          Shaunak
Age                35
City           Mumbai
Experience          5
Name: f, dtype: object
Row Content as NumPy Array:  [16 'Shaunak' 35 'Mumbai' 5]
--------------------
Row Index Position :  6
Row content as a pandas series:
ID                 17
Name            Shaun
Age                35
City          Colombo
Experience         11
Name: h, dtype: object
Row Content as NumPy Array:  [17 'Shaun' 35 'Colombo' 11]
--------------------

## Iterate over columns of DataFrame using Column Names

In [9]:
for column in df.columns:
    # Select column contents by column name using [] operator
    columnSeriesObj = df[column]
    print('Colunm Name : ', column)
    print('Column Contents as NumPy Array: ', columnSeriesObj.values)

Colunm Name :  ID
Column Contents as NumPy Array:  [11 12 13 14 15 16 17]
Colunm Name :  Name
Column Contents as NumPy Array:  ['jack' 'Riti' 'Aadi' 'Mohit' 'Veena' 'Shaunak' 'Shaun']
Colunm Name :  Age
Column Contents as NumPy Array:  [34 31 16 32 33 35 35]
Colunm Name :  City
Column Contents as NumPy Array:  ['Sydney' 'Delhi' 'New York' 'Delhi' 'Delhi' 'Mumbai' 'Colombo']
Colunm Name :  Experience
Column Contents as NumPy Array:  [ 5  7 11 15  4  5 11]

## Iterate over columns of DataFrame by column numbers

In [10]:
# Iterate over columns of DataFrame by index positions
for i in range(0, df.shape[1]):
    print('Colunm Number/Position: ', i)
    # Get column contents as NumPy Array
    columnContent = df.iloc[:, i].values
    print('Column contents: ', columnContent)

Colunm Number/Position:  0
Column contents:  [11 12 13 14 15 16 17]
Colunm Number/Position:  1
Column contents:  ['jack' 'Riti' 'Aadi' 'Mohit' 'Veena' 'Shaunak' 'Shaun']
Colunm Number/Position:  2
Column contents:  [34 31 16 32 33 35 35]
Colunm Number/Position:  3
Column contents:  ['Sydney' 'Delhi' 'New York' 'Delhi' 'Delhi' 'Mumbai' 'Colombo']
Colunm Number/Position:  4
Column contents:  [ 5  7 11 15  4  5 11]